@import url(fonts.css);
@import url(_media.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

#main_header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100% !important;
  background-color: #521112;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
#main_header .container .nav_logo {
  width: 12rem;
  height: 3rem;
}
.tel_call .call_center {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
}
.sub_title {
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}
.info_text,
.last_text {
  margin: 3rem auto;
  text-align: center;
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}
.form_wrapper {
  width: 1130px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.input_box,
.doc_upload {
  display: flex;
  align-items: center;
}
.input_box label {
  width: 14rem;
  font-size: 1.3rem;
  margin-right: 1.5rem;
}
.input_box .same_input {
  width: 16rem;
  font-size: 1rem;
  margin: 0.7rem auto;
  padding: 0.5rem;
}
.radio_name .rad_input {
  width: 15.5rem;
  font-size: 1.3rem;
  margin: 0.7rem auto;
}
[class*="unique"] {
  padding: 0.5rem;
  font-size: 1rem;
}
.double_data {
  margin: 1.4rem auto;
}
.unique_one {
  width: 7.5rem;
  margin-right: 1.5rem;
}
.education {
  width: 14rem;
  font-size: 1rem;
  margin-right: 1.5rem;
}
.input_box label[for="diploma"] {
  margin: 1rem 0;
  margin-right: 1.5rem;
  font-size: 1.4rem;
}
#select_edu {
  width: 10rem;
  font-size: 0.7rem;
  padding: 0.3rem;
}
.us_files {
  display: flex;
  justify-content: space-between;
  height: 13.1rem;
}
.upload_file {
  display: flex;
  align-items: center;
  gap: 15.5rem;
}
.upload_file .instead_label {
  width: 17rem;
  font-size: 1.4rem;
}
.file_design {
  width: 8rem;
  margin-top: 0.8rem;
}
.doc_box {
  margin: 2rem auto;
}
.file_design label[for="choose_file"] {
  border: 1px solid #521112;
  background-color: #521112;
  padding: 0.5rem 3.3rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: #fff;
}
.two_programs {
  width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.two_programs .check_box {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 3rem;
}
#select_fac {
  width: 32rem;
  padding: 0.8rem 1rem;
}
.select_faculty:first-child {
  margin-top: 1rem;
}
.select_faculty:nth-child(2) {
  margin: 2rem 0;
}
.check_box .box_same,
.approval_text {
  margin: 0 auto;
}
#radio_one,
.radio_two {
  text-align: center;
}
.statement .state_text {
  display: flex;
  align-items: center;
  margin: 2rem auto;
  gap: 1rem;
}
.final_text {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}
.btn_send {
  padding: 1rem 1.6rem;
  font-size: 1rem;
  background-color: #521112;
  color: #fff;
  letter-spacing: 1px;
}
.approval {
  width: 36rem;
  margin: 1.5rem auto;
  font-size: 1rem;
}
@media screen and (max-width: 1220px) {
  .container,
  .form_wrapper,
  .state_text,
  .two_programs,
  .final_text {
    width: 1100px;
  }
}
@media screen and (max-width: 1182px) {
  .container,
  .form_wrapper,
  .state_text,
  .two_programs,
  .final_text {
    width: 940px;
  }
  .sub_title {
    font-size: 2.7rem;
  }
  .second_part .input_box:first-child {
    margin-top: -1.4rem;
  }
  .input_box label {
    width: 10rem;
    font-size: 1.1rem;
  }
  .input_box .same_input {
    font-size: 0.9rem;
    padding: 0.4rem;
  }
  [class*="unique"] {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .unique_one {
    margin-right: 1.2rem;
  }
  .wrapper_radio {
    gap: 1rem;
  }
  .input_box label[for="diploma"] {
    margin-right: 2rem;
    font-size: 1.2rem;
  }
  .doc_upload .education {
    width: 14rem;
    margin: 0.8rem 1rem 0.8rem 0;
    font-size: 1.2rem;
  }
  .second_part {
    margin-top: 1.4rem;
  }
  .radio_name,
  .rad_input {
    width: 11.5rem;
  }
  .upload_file {
    padding: 4rem auto;
    gap: 12rem;
  }
  .upload_file .instead_label {
    width: 14rem;
    font-size: 1.2rem;
  }
  .doc_box {
    margin: 2.6rem auto;
  }
  .two_programs {
    gap: 2rem;
  }
  .doc_upload #select_edu {
    width: 13.1rem;
    padding: 0.6rem;
  }
  #select_fac {
    width: 28rem;
    padding: 0.8rem 1rem;
  }
}
@media screen and (max-width: 976px) {
  .container,
  .form_wrapper,
  .state_text,
  .two_programs,
  .final_text {
    width: 800px;
  }
  .sub_title {
    font-size: 2.5rem;
  }
  .info_text {
    margin: 2rem auto;
  }
  .input_box .same_input {
    width: 14rem;
    font-size: 0.8rem;
    padding: 0.3rem;
  }
  .unique_one {
    width: 4rem;
    margin-right: 1rem;
  }
  .input_box label {
    width: 8rem;
    font-size: 1rem;
  }
  .radio_name,
  .rad_input {
    width: 8.5rem;
    font-size: 1rem !important;
    margin-right: 1rem;
  }
  .unique_add {
    width: 10.8rem;
  }
  .second_part {
    margin-top: -0.2rem;
  }
  .doc_box {
    margin: 1.8rem auto;
  }
  .doc_upload #select_edu {
    width: 10rem;
    padding: 0.4rem;
    font-size: 0.8rem;
  }
  #select_fac {
    width: 24rem;
    padding: 0.6rem 0.8rem;
    font-size: 0.6rem;
    letter-spacing: 0.5px;
  }
  .box_same {
    font-size: 1.3rem;
  }
  .approval,
  .btn_send,
  .final_text {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
  }
  .two_programs {
    margin-bottom: -1.5rem;
  }
  .input_box label[for="diploma"] {
    width: 10rem;
    margin-right: 1rem;
    font-size: 1rem;
  }
  .input_box label[for="year_grad"] {
    margin-right: 3rem;
  }
  .input_box #diploma,
  #year_grad {
    width: 12rem;
  }
  .upload_file {
    padding: 2rem auto;
    gap: 6.8rem;
  }
  .upload_file .instead_label,
  .doc_upload .education {
    width: 10rem;
    font-size: 1rem;
  }
  .second_part .input_box:first-child {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 830px) {
  .container,
  .form_wrapper,
  .state_text,
  .two_programs,
  .final_text {
    width: 700px;
  }
  .sub_title {
    font-size: 2rem;
  }
  .info_text {
    font-size: 1.3rem;
  }
  .input_box .same_input {
    width: 10rem;
    font-size: 0.7rem;
    padding: 0.3rem;
  }
  .input_box label {
    width: 6rem;
    font-size: 1rem;
  }
  [class*="unique"] {
    padding: 0.4rem;
    font-size: 0.6rem;
  }
  .unique_one {
    width: 4rem;
    margin-right: 0.5rem;
  }
  .unique_add {
    width: 8rem;
    margin-left: -1.2rem;
  }
  .doc_upload .education {
    margin: 0.8rem auto;
  }
  .input_box label[for="diploma"] {
    width: 8rem;
    margin-right: 1rem;
    font-size: 1rem;
  }
  .upload_file {
    padding: 2rem auto;
    gap: 3rem;
  }
  .wrapper_radio label[for="radio_men"],
  label[for="radio_woman"] {
    font-size: 0.7rem;
  }
  .input_box label[for="seria"] {
    margin-right: -0.1rem;
  }
  .second_part {
    margin-top: -0.1rem;
  }
  .input_box #diploma,
  #year_grad {
    width: 10rem;
  }
  .doc_upload #select_edu {
    width: 10rem;
    padding: 0.6rem;
    margin-left: -1rem;
  }
  #select_fac {
    width: 20rem;
    padding: 0.6rem 0.5rem;
  }
}

@media screen and (max-width: 741px) {
  .container,
  .form_wrapper,
  .state_text,
  .two_programs,
  .final_text {
    width: 100%;
  }
  #main_header .container .nav_logo {
    width: 8rem;
    height: 2rem;
    object-fit: fill;
  }
  .tel_call .call_center {
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
  }
  .sub_title {
    font-size: 1.7rem;
  }
  .info_text {
    margin: 3rem auto;
    font-size: 1.2rem;
  }
  .form_wrapper {
    display: block;
  }
  .radio_name {
    margin-right: 5.5rem;
  }
  .upload_file {
    padding: 2rem auto;
    gap: 6.5rem;
  }
  .doc_upload .education {
    margin: 0.8rem auto;
  }
  .two_programs {
    margin-bottom: 2rem;
  }
  .input_box label[for="seria"] {
    margin-right: -0.1rem;
  }
  .approval {
    width: 100%;
    font-size: 0.7rem;
    letter-spacing: 0.5px;
  }
  .input_box .double_data {
    text-align: left;
  }
}
@media screen and (max-width: 1210px) {
  .container {
    max-width: 1100px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 981px;
  }
}
@media screen and (max-width: 502px) {
  .container {
    max-width: 768px;
  }
}
